@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --success-color: rgb(35, 202, 35);

  --error-color: rgb(230, 52, 25);
}

* {
  box-sizing: border-box;
}
body {
  background: #f1eded;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(150, 150, 150, 0.466);
  padding: 0.5rem;
  width: 400px;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.form {
  padding: 2rem 1rem;
}
.form-control {
  margin-bottom: 0.7rem;
  padding-bottom: 1.3rem;
  position: relative;
}

.form-control label {
  display: block;
  color: rgb(170, 159, 159);
  margin-bottom: 0.3rem;
}
.form-control input {
  border: 2px solid gainsboro;
  display: block;
  padding: 0.3rem;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 14px;
}
.form-control input:focus {
  outline: 0;
  border-color: blueviolet;
}

.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
.form button {
  padding: 0.6rem 0.9rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgb(53, 184, 53);
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 3px rgb(151, 151, 151);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.form button:hover {
  background-color: rgb(43, 151, 43);
}
